/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

body > div {
    height: 100%;
}


/* Sidebar */
#sidebar {
    background-color: #a9a9a9;
    max-width: 800px;
    min-width: 300px;
    width: 30%;
}


/* Map */
#map {
    flex: 1;
}
