/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

body > div {
    height: 100%;
}


/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 300px;
    width: 30%;
}

.sidebar-content {
    padding: 14px;
}

.sidebar-header {
    background-color: #a9a9a9;
    text-align: center;
}

#event-description {
    background-color: #cccccc;
    flex: 1;
    text-align: left;
    overflow-y: scroll;
}


/* Map */
#map {
    flex: 1;
}
